<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Game</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <section>
    <a href="/login" class="btn btn-default"></span>Login</a>
      <a href="/signup" class="btn btn-default"></span>Signup</a>
    <span class="result"></span>
</section>
<section>
  <span >Games Played:</span><span id="gamesPlayed">0</span>
  <span> Wins:</span><span id="wins">0</span>
  <span>Losses</span><span id="losses:">0</span>
</section>
  <section class="spinner">
    <section id="border">
      <img id="numimg" src="img/one.png" alt="one">
      <button id="stop" name="button">stop</button>
    </section>
  </section>

  <section class="table">

    <section class="row uno">
      <section class="first item">
        <img id="uno" src="img/one.png" alt="one">
        <span class="one"></span>
      </section>
      <section class="second item">
        <img id="dos" src="img/two.png" alt="two">
        <span class="two"></span>
      </section>
      <section class="third item">
        <img id="tres" src="img/three.png" alt="three">
        <span class="three"></span>
      </section>
    </section>

    <section class="row dos">
      <section class="fourth item">
        <img id="cuatro" src="img/four.jpg" alt="four">
        <span class="four"></span>
      </section>
      <section class="fifth item">
        <img id="cinco" src="img/five.png" alt="five">
        <span class="five"></span>
      </section>
      <section class="sixth item">
        <span class="six"></span>
      </section>
    </section>
  </section>



  <section class="inputsbuttons">
    <section class="buttons">
      <input id="money" placeholder="Place Your Bet">
      <button id="enter" for="money">Bet</button>
      <button id="start" type="button">Spin</button>
    </section>
    <section class="amountBet">
      <span>Amount you bet</span>
      <h2 id="bet"></h2>
    </section>

    <section class="won">
      <span>Amount you've won</span>
      <h2 id="winnings"></h2>
    </section>
  </section>

  <section>
    <h1>Instructions</h1>
    <p>click whichever image on the right you think you'll be able to stop the spinner on,
      click spin and stop when you think the spinner is at the number you guessed </p>
  </section>


  <script src="main.js"></script>
</body>
</html>
